@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle,rgb(241, 248, 115), rgb(253, 255, 207) 10%, rgb(255, 255, 255) 30%, rgb(91, 91, 251) 80%);
    background-size: 400% 400%;
    animation: gradientShift 50s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 90%;
    }
    50% {
        background-position: 100% 10%;
    }
    100% {
        background-position: 0% 90%;
    }
}



#root {
    width: 100%;
}

.container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    max-width: 410px;
    background: linear-gradient(to bottom right, orange, #ff9500);
    border-radius: 10px;
    animation: fadeIn 1.5s ease-in-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background: url("/public/clouds.png");
    background-size: cover;
    background-position: center;
}

@keyframes moveClouds {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.search-section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px;
}

.search-section .search-form {
    height: 54px;
    width: 100%;
    position: relative;
}

.search-section .search-form span {
    color: white;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: color 0.3s ease;
}

.search-section .search-input {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.608);
    background: rgba(255, 255, 255, 0.222);
    border-radius: 6px;
    padding: 0 20px 0 50px;
    font-size: 1.1rem;    
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    transition: all 0.3s ease;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.69);
    text-transform: none;
    font-size: 1rem;
    font-weight: 400;
}

.search-input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.3);
}

.search-section .location-button {
    height: 54px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: white;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.608);
    background: rgba(255, 255, 255, 0.222);
    border-radius: 6px;
    transition: all 0.5s ease;
}

.search-section .location-button span {
    font-size: 1.3rem;
}

.search-section .location-button:hover {
    color: rgb(255, 255, 101);
    border-color: rgb(255, 255, 101);
    transform: scale(1.1);
}

.weather-section .current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 50px;
}

.current-weather .weather-icon {
    width: 140px;
    animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.current-weather .temperature {
    color: white;
    font-size: 4rem;
    font-weight: bolder;
    display: flex;
    margin: 18px 0;
    font-weight: 800;
}

.current-weather .temperature span {
    font-size: 1.6rem;
    font-weight: 600;
}

.current-weather .description {
    color: white;
    font-size: 1.2rem;
    animation: fadeIn 1s ease;
}

.hourly-forecast {
    padding: 30px 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.608);
}

.hourly-forecast .weather-list {
    color: white;
    font-weight: 600;
    display: flex;
    list-style: none;
    gap: 32px;
    overflow-x: auto;
    scrollbar-width: thin;
    padding-bottom: 12px;
    margin-bottom: -30px;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 255, 0);
}

.hourly-forecast .weather-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    transform: translateY(20px);
    opacity: 0;
    animation: slideUp 0.5s forwards ease;
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hourly-forecast .weather-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    
}

.hourly-forecast .weather-item .weather-icon {
    width: 28px;
    aspect-ratio: 1;
}


.footer {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 2px rgb(15, 12, 255);
    animation: fadeIn 2s ease;
}

.footer p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    transition: font-size 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.footer p span {
    color: yellow;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.footer p:hover {
    font-size: 1.2rem;
}
